<table>
	<tr valign="top">
		<td width="300">
			<%= render :partial => "party_data"%>
		</td>
		<td width="250">
			<% unless @current_guests.empty? %>
			  <%= render :partial => "current_guests" %>
			<% end %>
		</td>
	</tr>
</table>

<p>
  <%= link_to "Edit", edit_party_path(@party) %> |
  <%= link_to "Destroy", @party, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", parties_path %>
</p>
