<% title "Party" %>

<p>
  <strong>Party Type:</strong>
  <%= @party.party_type.name %>
</p>
<p>
  <strong>Host:</strong>
  <%= "#{@party.host.first_name} #{@party.host.last_name}" %>
</p>
<p>
  <strong>Name:</strong>
  <%= @party.name %>
</p>
<p>
  <strong>Location:</strong>
  <%= @party.location.name %>
</p>
<p>
  <strong>Party Date:</strong>
  <%= @party.party_date.strftime("%B %d, %Y") %>
</p>

<p>
  <strong>Time:</strong>
  <%= "#{@party.start_time.strftime("%I:%M %p")} - #{@party.end_time.strftime("%I:%M %p")}"  %>
</p>

<p>
  <strong>Description:</strong>
  <%= @party.description %>
</p>

<p>
  <strong>RSVP date:</strong>
	 <% if (@party.rsvp_date.nil?) %>
	No RSVP required
	<% else %>
	<%= @party.rsvp_date.strftime("%B %d, %Y") %></td>
	<% end %>
</p>
<p>
  <strong>Expected Attendance: </strong>
  <%= @party.expected %>
</p>

<p>
  <strong>Confirmed Attendance: </strong>
  <%= @party.confirmed %>
</p>


<p>
  <%= link_to "Edit", edit_party_path(@party) %> |
  <%= link_to "Destroy", @party, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", parties_path %>
</p>
<%= render :partial => "current_guests" %>

