<% title "Account Information" %>
<h1>My Account</h1>
<p>
  <strong>Username:</strong>
  <%= current_host.username %>
</p>

<p>
  <strong>First Name:</strong>
  <%= current_host.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= current_host.last_name %>
</p>

<p>
  <strong>Host Email:</strong>
  <%= current_host.email %>
</p>


<%= link_to "Edit", edit_host_path(current_host) %> 
