<p class="supertiny">&nbsp;</p>

<div id="footer">

	<%= link_to 'Home', home_path %>
	<%= link_to 'About', about_path %>
	<%= link_to 'Contact Us', contact_path %>
	<%= link_to 'Privacy Policy', privacy_path %>
	<br /><br />
	<div id="copy">
		Creator: <%= mail_to("dxiao@andrew.cmu.edu", "Dian Xiao", :encode => "javascript") %> 
	</div>

</div>