<h1>My Locations</h1>
<table class="tbl">
  <thead class = "tbl">
    <th>Name</th>
 	<th>Address</th>
  </thead>
  <% for location in @locations %>
    <tr>
      <td><%= location.name %></td>
      <td><%= location.address %></td>
      <td><%= link_to "Show", location %></td>
      <td><%= link_to "Edit", edit_location_path(location) %></td>
      <td><%= link_to "Destroy", location, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Add A New Location", new_location_path %></p>
